[submodule "pack/thirdparty/opt/emmet-vim"]
	path = pack/thirdparty/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/thirdparty/opt/vim-surround"]
	path = pack/thirdparty/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/thirdparty/opt/ultisnips"]
	path = pack/thirdparty/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/thirdparty/opt/vim-indent-object"]
	path = pack/thirdparty/opt/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "pack/thirdparty/opt/vim-ledger"]
	path = pack/thirdparty/opt/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
