[submodule "pack/pablo/start/editorconfig-vim"]
	path = pack/pablo/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/pablo/start/vim-gitgutter"]
	path = pack/pablo/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/pablo/start/vimux"]
	path = pack/pablo/start/vimux
	url = https://github.com/benmills/vimux
[submodule "pack/pablo/start/emmet-vim"]
	path = pack/pablo/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pack/pablo/start/vim-surround"]
	path = pack/pablo/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/pablo/start/ultisnips"]
	path = pack/pablo/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/pablo/start/vimtex"]
	path = pack/pablo/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/pablo/start/vim-snippets"]
	path = pack/pablo/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/pablo/start/vimwiki"]
	path = pack/pablo/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "pack/pablo/start/calendar-vim"]
	path = pack/pablo/start/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
[submodule "pack/pablo/start/vim-commentary"]
	path = pack/pablo/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/pablo/start/vim-indent-object"]
	path = pack/pablo/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
